<%= form_for [@post, @comment] do |c| %>
  <div class="form-group">
    <%= c.label :title %>
    <%= c.text_field :title, class: "form-control form-25"%>
  </div>
  <div class="form-group">
    <% 5.downto(1).each do |num| %>
    <%= c.label :rating %>
      <%= c.radio_button :rating, "#{num}" %>
      <%= c.label "#{num} stars" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= c.label :body %>
    <%= c.text_area :body, class: "form-control form-25" %>
  </div>
  <%= c.submit %>
<% end %>
