<%= form_for [@post, @comments] do |comment| %>
  <div class="form-group">
    <%= comment.label :title %>
    <%= comment.text_field :title, class: "form-control form-25"%>
  </div>
  <div class="form-group">
    <%= comment.label :rating %>
    <%= comment.radio_button :rating, "5" %>
    <%= comment.label "5 stars" %>
    <%= comment.radio_button :rating, "4" %>
    <%= comment.label "4 stars" %>
    <%= comment.radio_button :rating, "3" %>
    <%= comment.label "3 stars" %>
    <%= comment.radio_button :rating, "2" %>
    <%= comment.label "2 stars" %>
    <%= comment.radio_button :rating, "1" %>
    <%= comment.label "1 star" %>
  </div>
  <div class="form-group">
    <%= comment.label :body %>
    <%= comment.text_area :body, class: "form-control form-25" %>
  </div>
  <%= comment.submit %>
<% end %>
