<h1><%= @post.title %></h1>
<hr>
<p>Author: <%= @first_name %></p>

<% if @post.categories.any? %>
  <% @post.categories.each do |cat| %>
    <div class="label label-primary">
      <%= cat.name %>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? && @post.liked_by(current_user) %>
  <%= link_to fa_icon("thumbs-up"), post_like_path(@post,
        @post.like_for(current_user)), {method: :delete, class: "icon-big"} %>
<% else %>
  <%= link_to fa_icon("thumbs-o-up"), post_likes_path(@post),
        {method: :post, class: "icon-big"} %>
<% end %>

<p><%= @post.body %></p>
<% if can? :manage, @post %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to("Delete", post_path(@post), {method: :delete,
          data: {confirm: "Are you sure?"}}) %>
<% end %>
<hr>

<%= form_for [@post, @comment] do |comment| %>
  <div class="form-group">
    <%= comment.label :title %>
    <%= comment.text_field :title, class: "form-control form-25"%>
  </div>
  <div class="form-group">
    <%= comment.label :rating %>
    <% 5.downto(1).each do |num|  %>
      <%= comment.radio_button :rating, "#{num}" %>
      <%= comment.label "#{num} stars" %><%= generate_stars(num) %>
    <% end %>
  </div>
  <div class="form-group">
    <%= comment.label :body %>
    <%= comment.text_area :body, class: "form-control form-25" %>
  </div>
  <%= comment.submit %>
<% end %>

<hr>

<% @comments.each do |comment| %>
  <h3><%= generate_stars(comment.rating) %><%= comment.title %>
    <% if user_signed_in? && comment.commentliked_by(current_user) %>
      <%= link_to fa_icon("thumbs-up"), comment_commentlike_path(comment,
            comment.commentlike_for(current_user)), {method: :delete} %>
    <% else %>
      <%= link_to fa_icon("thumbs-o-up"), comment_commentlikes_path(comment),
            {method: :post} %>
    <% end %>
  </h3>
  <p>Written by: <%= comment.user.first_name %></p>
  <p><%= comment.body %></p>
  <% if can? :manage, comment %>
    <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
    <%= link_to "Delete", post_comment_path(@post, comment),
          {method: :delete, data: {confirm: "Are you sure?"}} %>
  <% elsif can? :destroy, comment %>
    <%= link_to "Delete", post_comment_path(@post, comment),
          {method: :delete, data: {confirm: "Are you sure?"}} %>
  <% end %>
<% end %>
