<h1>Blog Post</h1>
<hr>
<h3><%= @post.title %></h3>
<p>Author: <%= @first_name %></p>
<p><%= @post.body %></p>
<% if can? :manage, @post %>
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to("Delete", post_path(@post), {method: :delete,
          data: {confirm: "Are you sure?"}}) %>
<% end %>
<hr>
<%= form_for [@post, @comment] do |comment| %>
  <div class="form-group">
    <%= comment.label :title %>
    <%= comment.text_field :title, class: "form-control form-25"%>
  </div>
  <div class="form-group">
    <%= comment.label :rating %>
    <% 5.downto(1).each do |num|  %>
      <%= comment.radio_button :rating, "#{num}" %>
      <%= comment.label "#{num} stars" %><%= generate_stars(num) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= comment.label :body %>
    <%= comment.text_area :body, class: "form-control form-25" %>
  </div>
  <%= comment.submit %>
<% end %>

<hr>
<% @comments.each do |comment| %>
  <h3><%= generate_stars(comment.rating) %><%= comment.title %></h3>
  <p>Written by: <%= comment.user.first_name %></p>
  <p><%= comment.body %></p>
  <% if can? :manage, comment %>
    <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
    <%= link_to "Delete", post_comment_path(@post, comment),
          {method: :delete, data: {confirm: "Are you sure?"}} %>
  <% elsif can? :destroy, comment %>
    <%= link_to "Delete", post_comment_path(@post, comment),
          {method: :delete, data: {confirm: "Are you sure?"}} %>
  <% end %>
<% end %>
