<div class="well">
<div class="md-col-5 well">

  <!-- DISPLAY IMAGES, IF ANY -->
  <% if @post.image.present? %>
    <%= image_tag @post.image.url %>
  <% end %>

  <!-- DISPLAY POST TITLE -->
  <h1 class="zero-margin"><%= @post.title %></h1>

  <!-- DISPLAY CATEGORY LABELS -->
  <% if @post.categories.any? %>
    <% @post.categories.each do |cat| %>
      <div class="label label-primary">
        <%= cat.name %>
      </div>
    <% end %>
  <% end %>

  <!-- DISPLAY LIKE ICON -->
  <div id="like">
    <% if user_signed_in? && @post.liked_by(current_user) %>
      <%= render "/likes/like" %>
    <% else %>
      <%= render "/likes/olike" %>
    <% end %>
  </div>

  <!-- DISPLAY FAVORITE ICON -->
  <div id="favorite">
    <% if user_signed_in? && @post.favorited_by(current_user) %>
      <%= render "/favorites/heart" %>
    <% else %>
      <%= render "/favorites/oheart" %>
    <% end %>
  </div>

  <!-- DISPLAY VOTE ICON -->
  <div id="vote">
    <% if !user_signed_in? || !@post.postvoted_by(current_user) %>
      <%= render "/postvotes/newvote" %>
    <% elsif @post.postvote_for(current_user).vote? %>
        <%= render "/postvotes/postup" %>
    <% else %>
      <%= render "/postvotes/postdown" %>
    <% end %>
  </div>

  <i><p class="zero-margin"><%= pluralize(@post.likes.count, "like")%>,
          <%= pluralize(@post.favorites.count, "favorite") %>,
          <%= pluralize(@post.vote_total, "vote") %>!</p></i>
  <p class="zero-margin">Author: <%= @first_name %></p>

  <!-- DISPLAY POST BODY -->
  <p><%= @post.body %></p>
  <!-- DISPLAY LINKS TO EDIT/DELETE POST, IF PERMITTED -->
  <% if can? :manage, @post %>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to("Delete", post_path(@post), {method: :delete,
            data: {confirm: "Are you sure?"}}) %>
  <% end %>
</div>
  <hr>

  <!-- DISPLAY COMMENT BOX FOR COMMENTING ON POST -->
  <h3>Post a comment!</h3>
  <div class="well" id="comment">
    <%= render "/comments/form" %>
  </div>
  <hr>

  <!-- DISPLAY COMMENTS FOR POST -->
  <h3>Comments:</h3>
  <div id="comments">
  <% @comments.each do |comment| %>
    <%= render "/comments/comment", comment: comment %>
  <% end %>
</div>
</div>
