<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %> |
  <%= link_to "About", '/about' %> |
  <%= link_to "New Post", new_post_path %> |
  <%= link_to "New Comment", new_comment_path %> |
  <%= link_to "All Comments", comments_path %>
  <hr>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% elsif flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
<%= yield %>

</body>
</html>
